<mat-toolbar  class="footer">
    <div class="footer-section">
        <div class="socialMedia">
            <a class="fa fa-facebook" href="https://www.facebook.com/share/14hwrvr3Ae/?mibextid=LQQJ4d"></a>
            <a class="fa fa-youtube" href="https://www.youtube.com/@bhaarathSports"></a>
            <a class="fa fa-linkedin" href="https://www.instagram.com/bpl.sports_?igsh=cGNvYjBjaXN6aWsx&utm_source=qr"></a>
            <a class="fa fa-instagram" href="https://www.instagram.com/bpl.sports_?igsh=cGNvYjBjaXN6aWsx&utm_source=qr"></a> 
          </div>
   </div>
    <div class="footer-section">
      <button mat-button routerLink="/form1" routerLinkActive="active">Form 1</button>
      <button mat-button routerLink="/form2" routerLinkActive="active">Form 2</button>
    </div>
  </mat-toolbar>
  