<mat-toolbar  class="footer">
    <div class="footer-section">
        <div class="socialMedia">
            <a class="fa fa-facebook" href="https://www.facebook.com/share/14hwrvr3Ae/?mibextid=LQQJ4d"></a>
            <a class="fa fa-youtube" href="https://www.youtube.com/@bhaarathSports"></a>
            <a class="fa fa-instagram" href="https://www.instagram.com/bpl.sports_?igsh=cGNvYjBjaXN6aWsx&utm_source=qr"></a> 
          </div>
   </div>
   <div style="color: white;">
    <a>Contact Us</a>
   </div>
    <div class="footer-section">
      <a class="fa fa-copyright" href="https://www.instagram.com/bpl.sports_?igsh=cGNvYjBjaXN6aWsx&utm_source=qr"></a> 
      <span style="margin-left: 10px;color: white;font-size: small  ;">All Rights Reserved</span>
    </div>
  </mat-toolbar>
  