.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: grey  ;
  }
  
  .footer-section {
    display: flex;
    align-items: center;
  }
  
  .social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
  }

  .socialMedia a{
    margin: 10px;
  }
  