<div>
    <ng-image-slider [videoAutoPlay]="true" [infinite]="true" [autoSlide]="true" [images]="imageObject" [imageSize]="{width: 600, height: 500, space: 3}" #nav></ng-image-slider>
</div>



<!-- <div>
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/xRPjKQtRXR8?si=PZtl6tGj5e-bHoX5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div> -->